*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;


}
/*navbar */
header{
 width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(60, 138, 187, 0.064);
position: fixed;
left: 0px;
right: 0px;
top: 0px;
height: 100px;
}
.nav-logo {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    width: 80%;
    gap: 20px;
}
.nav-logo img{
    width: 50px;
}

.nav-left{
   width: auto;
    float: left;
}
.nav-middle{
justify-content: center;
width: auto;
}
.nav-right{
float: right;
width: auto;
}
#text{
    border-radius: 50px;
    width: 300px;
    text-align: center;
     align-items: flex-start;
  
}
.nav-logo  img:hover{
    background-color: darkgrey;
    border-radius: 20px;
}
/*navbar */


/*side bar starts*/
.sidebar{
    width: 100px;
    height: 100vh;
   position: fixed;
   left: 0px;
   top: 100px;
   right: 600px;
   overflow-x: hidden;
}

.icon{
    width: 100px;
    height: 80px;
   
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
  }
.icon img{
    width: 40%;
    height: auto;
}

.icon:hover{
    background-color: rgba(101, 97, 80, 0.384);
    border-radius: 20px;
}
/*side bar ends*/
/*container start here*/
.container{
    padding:20px 10px;
    margin: 100px  10px 10px 100px;
    display: grid;
    grid-template-columns:  1fr;
 
    }

.hero{
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
    height: 600px;
    overflow-y: scroll;
}

/* thubnail card starts here*/
.card-body{
    padding: 0px 5px;
    width: 330px;
    height: 301px;
}
.img-card{
    width: 330px;
    height:180px ;
   
}
.img-card img{
    width: 100%;
    border-radius: 10px;
  
}
.card-data{
   display: flex;
   flex-direction: row;
    width: 330px;
     height: 115px
}

/* thubnail card endss here*/

/* thubnail data starts here*/
.channel-logo{
    margin-top: 10px;
   width:50px;
   height: 50px;
   
}
.channel-logo img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.channel-data{
  
    margin-left: 20px;
    width:280px ;
}
.title{
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 15px;
}
/* thubnail data ends here*/

